<div class="kanban-container">
  <div class="kanban-header">
    <div class="filters" style="display:flex; margin-top:10px;justify-content:space-between">
      <input
        placeholder="search"
        type="text"
        class="search"
        [(ngModel)]="searchText"
        (input)="onSearch()"
      />
      <div class="filters">
        <select [(ngModel)]="selectedUser" (change)="onUserChange()"  style="margin-right:10px;">
      <option *ngFor="let user of users" [value]="user" >{{user}}</option>
    </select>

        <!-- <select class="filter-select" >
      <option value="all">All</option>
    </select> -->

        <button (click)="addNewTask()" >Add New</button>
      </div>

    </div>

    <!-- <div *ngFor="let task of allTasks" cdkDrag>
    <div>
      {{ task.priority }}
    </div>

    <h4>
      {{ task.title }}
    </h4>
  </div> -->

    <div class="kanban-view" style='display:flex'>
      <!-- <span>{{pendingTasks.length}}</span>
      <span>{{inProgressTasks.length}}</span>

      <span>{{completedTasks.length}}</span> -->


      <!-- pending status drop down -->

      <div class="task-list" cdkDropList #pendingList="cdkDropList" [cdkDropListData]="pendingTasks"
        [cdkDropListConnectedTo]="[inProgressList, completedList]" (cdkDropListDropped)="onDrop($event, 'pending')">

        <div class="task-status">
          <span>Pending</span>
          <span>{{pendingTasks.length}}</span>
        </div>
        <div class="task-view" *ngFor="let task of pendingTasks" cdkDrag>
        <h4 style="background-color:Red; color:#fff"  >
        {{ task.title }}
      </h4> 
        <div>
        {{ task.priority }}
      </div>
      <span>{{task.description}}</span>
      <div>{{task.assignee}}</div>
      <span>Comment {{task.comments}} </span>
        </div>
      </div>

      <!-- inprogress status -->
      <div class="task-list" cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgressTasks"
        [cdkDropListConnectedTo]="[pendingList, completedList]" (cdkDropListDropped)="onDrop($event, 'inProgress')">
        <div class="task-status">
          <span>Inprogress</span>
          <span>{{inProgressTasks.length}}</span>
        </div>
        <div  class="task-view"  *ngFor="let task of inProgressTasks" cdkDrag>
        <h4 style="background-color:#ffff00;" >
        {{ task.title }}
      </h4> 
        <div>
        {{ task.priority }}
      </div>
      <span>{{task.description}}</span>
    
      <div>{{task.assignee}}</div>
      <span>Comment {{task.comments}} </span>
        </div>
      </div>

      <!-- completed status -->

      <div class="task-list" cdkDropList #completedList="cdkDropList" [cdkDropListData]="completedTasks"
        [cdkDropListConnectedTo]="[pendingList, inProgressList]" (cdkDropListDropped)="onDrop($event, 'completed')">
        <div class="task-status">
          <span>Completed</span>
          <span>{{completedTasks.length}}</span>
        </div>
        <div  class="task-view"  *ngFor="let task of completedTasks" cdkDrag>
          <h4 style="background-color:#00ff00;" >
          {{ task.title }}
        </h4> 
          <div>
            {{ task.priority }}
          </div>
          <span>{{task.description}}</span>
          
          <div>{{task.assignee}}</div>
          <span>Comment {{task.comments}} </span>
        </div>
      </div>
    </div>
  </div>

</div>



